<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Loging Tests">
<parameter name="browser" value="chrome"></parameter>
	<test name="P1 Test">
		<groups>
			<run>
				<include name="p1"></include>
			</run>
		</groups>
		<classes>
			<class name="com.adiltutorials.test.FacebookLoginTest"></class>
		</classes>
	</test>
	<test name="P2 Test">
		<groups>
			<run>
				<include name="p2"></include>
			</run>
		</groups>
		<classes>
			<class name="com.adiltutorials.test.FacebookLoginTest"></class>
		</classes>
	</test>
</suite>